@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(270deg, rgb(3, 0, 20), rgb(13, 24, 40));
    font-weight: 500;
    color: white;
}

.regresar {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition-duration: 0.5s;
    padding: 10px 10px 10px 0;
}

/* Formulario */

input,textarea {
    display: flex;
    justify-content: center;
    width: 490px;
    background-color: rgb(30, 29, 43);
    color: white;
    margin: 25px 0;
    border: 1px solid rgb(30, 29, 43);
    border-radius: 5px;
    padding: 10px;
    font-family: sans-serif;
    box-shadow: 5px 5px 11px 0 rgb(3, 0, 20);
}

textarea {
    height: 150px;
    margin: 10px auto 20px auto;
    resize: none;
}

label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    margin-top: 20px;
}

#formulario__container {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93.8vh;
} 

#input__enviar {
    font-family: 'Montserrat';
    background-color: transparent;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px 30px;
    transition-duration: 0.5s;
    color: white;
    min-width: 100px;
    box-shadow: 5px 5px 11px 0 rgb(3, 0, 20);
}

#input__enviar:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#formulario__h1 {
    text-align: center;
    font-size: 35px;

    background: linear-gradient(185deg, rgb(73, 182, 255), rgb(215, 184, 255));

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (max-width: 576px) {
    label {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    input,textarea {
        display: flex;
        justify-content: center;
        margin: auto;
        max-width: 320px;
        margin-bottom: 20px;
    }
}